body {
  color: white;
  margin: 0px;
  padding: 0px;
  background: url("images/bg3.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.left {
  line-height: 30px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: -10px;
}
.mid {
  display: block;
  width: 100%;
  height: 71px;
  padding: -15px;
  margin: 0px auto;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(29, 21, 174) 0%, rgb(47, 191, 105) 0%, rgb(198, 26, 155) 95%);
}
.navbar {
  display: inline-block;
}
li {
  display: inline-block;
  font-size: 24px;
  padding: 2px 65px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 7px 21px;
}
.navbar a:hover {
  background-color: black;
  border: 2px inset white;
  border-radius: 5px;
}
img {
  width: 108px;
  height: 90px;
}
.box1 {
  position: absolute;
  top: 30%;
  left: 60%;
  width: 400px;
  height: 200px;
  background: rgb(2,0,36);
background: radial-gradient(circle, rgb(32, 63, 22) 0%, rgb(195, 227, 37) 0%, rgb(111, 203, 178) 100%);
  border-radius: 20px;
  transition-property: all;
  transition-duration: 4s;
  transition-timing-function: ease-out;
  transition-delay: 1s;
}
.box1:hover {
 
  height: 300px;
  width: 300px;
  border-radius: 100px;
}
.button-swing {
  position: absolute;

  top: 40%;
  left: 28%;
  width: 114px;
  height: 44px;

  background: none;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  cursor: pointer;
  transition: all 3s ease-in-out;
}

.button-swing:focus {
  animation: swing 3s ease;
  animation-iteration-count: 1;
}

@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.social a {
  padding: 0px 50px;
  cursor: pointer;
}
#insta {
  font-size: 30px;
  color: #8a3ab9;
  position: absolute;
  left: 1067px;
  top: 20px;
}
#insta:hover {
  font-size: 40px;
}
#fb {
  font-size: 30px;
  color: #4267b2;
  position: absolute;
  left: 909px;
  top: 20px;
}
#fb:hover {
  font-size: 40px;
}
#twit {
  font-size: 30px;
  color: #1da1f2;
  position: absolute;
  left: 1134px;
  top: 20px;
}
#twit:hover {
  font-size: 40px;
}
#linki {
  font-size: 30px;
  color: #0e76a8;
  position: absolute;
  left: 995px;
  top: 20px;
}
#linki:hover {
  font-size: 40px;
}
#globe {
  font-size: 30px;
  color: #3ebf50;
  position: absolute;
  left: 1200px;
  top: 20px;
}
#globe:hover {
  font-size: 40px;
}
#footer {
  height: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,94,191,1) 0%, rgba(126,128,172,1) 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  position: absolute;
  top: 96.5%;
  width: 100%;
}
